* {
  box-sizing: border-box;
}

@font-face {
    font-family: 'poppinsmedium';
    src: url('https://hamdivazim.github.io/assets/poppins-medium-webfont.woff2') format('woff2'),
         url('https://hamdivazim.github.io/assets/poppins-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

pre code {
  background-color: #eee;
  border: 1px solid #999;
  display: block;
  padding: 20px;
  text-align: left;
  font-size: 18px;
}

/* Add a gray background color with some padding */
body {
  font-family: "poppinsmedium";
  padding: 20px;
  background: #f1f1f1;
}

/* Header/Blog Title */
.header {
  padding: 30px;
  text-align: center;
  background: white;
}

.title {
  font-size: 40px;
}

/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn {   
  float: left;
  width: 75%;
}

/* Right column */
.rightcolumn {
  float: left;
  width: 25%;
  padding-left: 20px;
}

/* navbar code */
.navbar {
  overflow: hidden;
  background-color: #ebebeb;
  text-align: center;
  padding: 15px;
}

.navbar a {
  padding: 15px;
  text-align: center;
  opacity: 0.6;
  transition: 0.3s;
  text-decoration: none;
  color: #174f87;
}

.navbar a:hover {
  background-color: #c9c9c9;
  opacity: 1;
}

.navbar .icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .navbar a:not(:first-child) {display: none;}
  .navbar a.icon {
    float: left;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .navbar.responsive {position: relative;}
  .navbar.responsive .icon {
    position: absolute;
    left: 0;
    top: 0;
  }
  .navbar.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}



.thinleftcolumn {   
  float: left;
  width: 25%;
}

/* Right column */
.widerightcolumn {
  float: left;
  width: 75%;
  padding-left: 20px;
}

.chip {
  padding: 3px 20px 3px 20px;
  background-color: #cfcfcf;
  margin: 5px;
}

/* Placeholder */
.placeholder {
  background-color: #aaa;
  width: 100%;
  padding: 20px;
}

/* Add a card effect for articles */
.card {
   background-color: white;
   padding: 20px;
   margin-top: 20px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Footer */
.footer {
  padding: 20px;
  text-align: center;
  background: #ddd;
  margin-top: 20px;
}

p.txt {
  font-size: 18px;
}

.button {
  text-decoration:underline;
  color:#01004d;
  font-weight: normal;
}

.button:hover {
  text-decoration:underline;
  color:#0b70f4;
  font-weight: bold;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn {   
    width: 100%;
    padding: 0;
  }
}
